---
- name: Instalar dependencias de Python y SELinux
  dnf:
    name: 
      - python3-libselinux
      - epel-release  # Necesario para xorriso en algunas distros
    state: present

- name: Asegurar que el archivo de Repo de CloudStack existe
  template:
    src: cloudstack.repo.j2
    dest: /etc/yum.repos.d/cloudstack.repo

- name: Configurar SELinux en modo permisivo (Inmediato)
  command: setenforce permissive
  ignore_errors: true

- name: Configurar SELinux en modo permisivo (Permanente)
  selinux:
    policy: targeted
    state: permissive

- name: Instalar xorriso (Reemplazo de mkisofs en EL9)
  dnf:
    name: xorriso
    state: present

- name: Crear enlace simbólico de compatibilidad para mkisofs
  file:
    src: /usr/bin/xorrisofs
    dest: /usr/bin/mkisofs
    state: link

- name: Instalar paquetes de CloudStack Management
  dnf:
    name: cloudstack-management
    state: present
    # Saltamos la verificación estricta de dependencias que falla en EL9
    disable_gpg_check: yes

- name: Asegurar que vhd-util esté en la ubicación correcta
  get_url:
    url: http://download.cloudstack.org/tools/vhd-util
    dest: /usr/share/cloudstack-common/scripts/vm/hypervisor/xenserver/vhd-util
    mode: '0755'