---
- name: Deshabilitar firewall en NFS
  service:
    name: firewalld
    state: stopped
    enabled: no

- name: Poner SELinux en modo permisivo
  selinux:
    policy: targeted
    state: permissive

- name: Instalar paquetes de NFS
  dnf:
    name: nfs-utils
    state: present

- name: Crear carpeta compartida
  file:
    path: "{{ nfs_path }}"
    state: directory
    mode: '0777'
    owner: root
    group: root

- name: Configurar exportaciones en /etc/exports
  lineinfile:
    path: /etc/exports
    line: "{{ nfs_path }} {{ management_ip }}(rw,async,no_root_squash,no_subtree_check)"
    create: yes
  register: nfs_exports

- name: Iniciar y habilitar servicios NFS
  service:
    name: "{{ item }}"
    state: started
    enabled: yes
  loop:
    - rpcbind
    - nfs-server

- name: Aplicar cambios en exports si hubo cambios
  command: exportfs -ra
  when: nfs_exports.changed
