---
- name: Asegurar que wget y GnuPG estén instalados
  yum:
    name: 
      - wget
      - gnupg2
    state: present

- name: Descargar repositorio MySQL usando wget -4
  command: wget -4 https://dev.mysql.com/get/mysql84-community-release-el9-1.noarch.rpm -O /tmp/mysql84-community-release.rpm
  args:
    creates: /tmp/mysql84-community-release.rpm

- name: Instalar repositorio MySQL usando comando RPM directo
  shell: rpm -Uvh /tmp/mysql84-community-release.rpm
  register: rpm_result
  failed_when: 
    - rpm_result.rc != 0 
    - "'ya está instalado' not in rpm_result.stderr"
  changed_when: "'installing' in rpm_result.stdout or 'Preparando' in rpm_result.stdout"

- name: Importar llave GPG oficial de MySQL (Corrección para EL9)
  rpm_key:
    state: present
    key: https://repo.mysql.com/RPM-GPG-KEY-mysql-2025

- name: Forzar IPv4 en la configuración de DNF
  lineinfile:
    path: /etc/dnf/dnf.conf
    line: "ip_resolve=4"
    state: present

- name: Instalar servidor MySQL y conectores (Bypass vía extra_args)
  dnf:
    name: 
      - mysql-community-server
      - mysql-community-client
      - mysql-community-libs
      - mysql-community-common
      - mysql-community-icu-data-files
    state: present
    update_cache: yes
    disable_gpg_check: yes

- name: Ensure mysql python is installed
  yum:
    name: 
      - python3-PyMySQL
      - python3-cryptography
    state: present

- name: Ensure selinux python bindings are installed
  yum:
    name: python3-libselinux
    state: present

- name: Ensure cloudstack specific my.cnf lines are present
  lineinfile:
    dest: /etc/my.cnf
    regexp: "^{{ item.split('=')[0] }}"
    insertafter: '^\[mysqld\]'
    line: "{{ item }}"
  with_items:
    - "skip-name-resolve"
    - "default-time-zone='+00:00'"
    - "innodb_rollback_on_timeout=1"
    - "innodb_lock_wait_timeout=600"
    - "max_connections=350"
    - "log-bin=mysql-bin"
    - "binlog-format='ROW'"

- name: Ensure MySQL service is started and enabled
  service:
    name: mysqld
    state: started
    enabled: yes


- name: Habilitar mysql_native_password en el servidor (Necesario para compatibilidad Ansible en 8.4)
  lineinfile:
    path: /etc/my.cnf
    insertafter: '^\[mysqld\]'
    line: "mysql_native_password=ON"
  notify: Restart MySQL

- name: Forzar el reinicio de MySQL ahora mismo
  meta: flush_handlers

- name: Ensure root password is set (intento inicial)
  community.mysql.mysql_user:
    # Credenciales para realizar la conexión
    login_user: root
    login_password: "{{ mysql_root_password }}"
    login_unix_socket: /var/lib/mysql/mysql.sock
    # Configuración del usuario
    user: root
    password: "{{ mysql_root_password }}"
    host: localhost
    check_implicit_admin: yes
    state: present
    plugin: caching_sha2_password
  ignore_errors: true

- name: Ensure root has sufficient privileges
  community.mysql.mysql_user:
    # Credenciales para realizar la conexión
    login_user: root
    login_password: "{{ mysql_root_password }}"
    login_host: 127.0.0.1
    # Configuración del usuario remoto
    user: root
    host: "%"
    password: "{{ mysql_root_password }}"
    priv: "*.*:ALL,GRANT"
    state: present
    plugin: caching_sha2_password
