---
- name: Asegurar dependencias de sistema
  yum:
    name: [wget, gnupg2, python3-PyMySQL, python3-cryptography]
    state: present

- name: Instalar Repositorio y Servidor MySQL 8.4
  shell: |
    wget -4 -nc https://dev.mysql.com/get/mysql84-community-release-el9-1.noarch.rpm -O /tmp/mysql84.rpm
    rpm -Uvh /tmp/mysql84.rpm || true
    dnf install -y mysql-community-server
  register: install_mysql
  changed_when: "'installing' in install_mysql.stdout"

- name: Configurar my.cnf para CloudStack
  lineinfile:
    dest: /etc/my.cnf
    regexp: "^{{ item.split('=')[0] }}"
    insertafter: '^\[mysqld\]'
    line: "{{ item }}"
  with_items:
    - "skip-name-resolve"
    - "default-time-zone='+00:00'"
    - "innodb_rollback_on_timeout=1"
    - "innodb_lock_wait_timeout=600"
    - "max_connections=350"
    - "log-bin=mysql-bin"
    - "binlog-format='ROW'"
    - "mysql_native_password=ON"

- name: Iniciar MySQL
  service:
    name: mysqld
    state: started
    enabled: yes

- name: Resetear y Configurar Usuarios (Fuerza Bruta con Bypass de Política)
  shell: |
    # 1. Intentar capturar la clave temporal
    TEMP_PW=$(grep 'temporary password' /var/log/mysqld.log | awk '{print $NF}')
    
    # 2. Intentar reset con la temporal Y desactivar validación de password simultáneamente
    # Usamos --connect-expired-password porque la temporal nace expirada
    mysql --connect-expired-password -u root -p"$TEMP_PW" --execute="
    SET GLOBAL validate_password.policy=0;
    SET GLOBAL validate_password.length=4;
    ALTER USER 'root'@'localhost' IDENTIFIED WITH caching_sha2_password BY '{{ mysql_root_password }}';
    FLUSH PRIVILEGES;" || \
    # 3. Si lo anterior falla (porque ya se cambió), intentamos entrar con la clave de Ansible
    # para asegurar que la política esté baja y el usuario remoto exista
    mysql -u root -p"{{ mysql_root_password }}" --execute="
    SET GLOBAL validate_password.policy=0;
    ALTER USER 'root'@'localhost' IDENTIFIED WITH caching_sha2_password BY '{{ mysql_root_password }}';
    CREATE USER IF NOT EXISTS 'root'@'%' IDENTIFIED WITH caching_sha2_password BY '{{ mysql_root_password }}';
    GRANT ALL PRIVILEGES ON *.* TO 'root'@'%' WITH GRANT OPTION;
    FLUSH PRIVILEGES;"
  no_log: true
  register: user_setup
  failed_when: false

- name: Abrir Firewall para acceso externo
  firewalld:
    port: 3306/tcp
    permanent: yes
    state: enabled
    immediate: yes
  ignore_errors: true

- name: Verificar acceso final (Opcional)
  shell: mysql -u root -p"{{ mysql_root_password }}" -e "SELECT VERSION();"
  no_log: true
  changed_when: false