---
- name: Asegurar que GnuPG esté instalado (necesario para rpm_key)
  yum:
    name: gnupg2
    state: present

- name: Importar llave GPG de MySQL
  rpm_key:
    state: present
    key: https://repo.mysql.com/RPM-GPG-KEY-mysql-2023

- name: Forzar descarga del repositorio MySQL usando IPv4
  shell: |
    curl -4 -L "https://dev.mysql.com/get/mysql84-community-release-el9-1.noarch.rpm" \
    -A "Mozilla/5.0 (Windows NT 10.0; Win64; x64)" \
    -o /tmp/mysql84-community-release.rpm
  args:
    creates: /tmp/mysql84-community-release.rpm

- name: Instalar repositorio oficial de MySQL 8.4 (LTS) desde archivo local
  dnf:
    name: /tmp/mysql84-community-release.rpm
    state: present
    disable_gpg_check: no

- name: Desactivar módulos de MySQL/MariaDB predeterminados de Rocky
  shell: |
    dnf -y module disable mysql mariadb
  register: module_disable
  changed_when: "'Disabling modules' in module_disable.stdout"

- name: Ensure mysql server is installed
  yum:
    name: mysql-community-server
    state: present

- name: Ensure mysql python is installed
  yum:
    name: python3-PyMySQL
    state: present

- name: Ensure selinux python bindings are installed
  yum:
    name: python3-libselinux
    state: present

- name: Ensure cloudstack specific my.cnf lines are present
  lineinfile:
    dest: /etc/my.cnf
    regexp: "^{{ item.split('=')[0] }}"
    insertafter: '^\[mysqld\]'
    line: "{{ item }}"
  with_items:
    - skip-name-resolve
    - default-time-zone='+00:00'
    - innodb_rollback_on_timeout=1
    - innodb_lock_wait_timeout=600
    - max_connections=350
    - log-bin=mysql-bin
    - binlog-format='ROW'

- name: Ensure MySQL service is started and enabled
  service:
    name: mysqld
    state: started
    enabled: yes

- name: Ensure root password is set (intento inicial)
  community.mysql.mysql_user:
    user: root
    password: "{{ mysql_root_password }}"
    host: localhost
    login_unix_socket: /var/lib/mysql/mysql.sock
    check_implicit_admin: yes
    state: present
  ignore_errors: true

- name: Ensure root has sufficient privileges
  community.mysql.mysql_user:
    login_user: root
    login_password: "{{ mysql_root_password }}"
    user: root
    host: "%"
    password: "{{ mysql_root_password }}"
    priv: "*.*:ALL,GRANT"
    state: present